{% extends "base.html" %}
{% block title %} Dashboard | Auto Exam Builder {% endblock %}
{% block content %}
<div class="page-wrapper">
    <div class="page-header d-print-none">
        <div class="container-xl">
          <div class="row g-2 align-items-center">
            <div class="col">
              <div class="page-pretitle">
                Overview
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">
                {% for item in analytics %}
                    <div class="col-sm-6 col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="subheader">
                                        Course Materials
                                    </div>
                                </div>
                                <div class="h1 mb-3">
                                    {{ item.course_materials }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="subheader">
                                        Exams
                                    </div>
                                </div>
                                <div class="h1 mb-3">
                                    {{ item.exams }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="subheader">
                                        Question Banks
                                    </div>
                                </div>
                                <div class="h1 mb-3">
                                    {{ item.question_banks }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="subheader">
                                        Users
                                    </div>
                                </div>
                                <div class="h1 mb-3">
                                    {{ item.users }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
</div>
{% endblock %}